[submodule "submodules/TradeItIosEmsApi"]
	path = submodules/TradeItIosEmsApi
	url = git@github.com:tradingticket/TradeItIosEmsApi.git
[submodule "submodules/Quick"]
	path = submodules/Quick
	url = git@github.com:Quick/Quick.git
[submodule "submodules/Nimble"]
	path = submodules/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "submodules/PromiseKit"]
	path = submodules/PromiseKit
	url = git@github.com:mxcl/PromiseKit.git
